# Extensiones de sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Carpetas de editores (VS Code, Sublime, etc.)
.vscode/
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs y Archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
# *.py  <-- Comentado por seguridad, descomentar si realmente son logs

# --- SEGURIDAD Y SECRETOS ---
.env
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- DEPENDENCIAS ---
node_modules/
jspm_packages/
web_modules/

# --- COMPILACIÓN Y CACHÉ ---
dist/
build/
.cache/
.next/
out/
bin/
obj/

# --- ARTE Y DISEÑO ---
*.kra
*.psd